<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
</head>

<body>
    <div class="container1 ">
        <h1 class="text-3xl font-bold text-black">The Food Blog</h1>

        <br>

        <div class="container"></div>
        <% posts.forEach(post=> { %>

            <!-- Image -->
            <div class="flex-none w-48 relative">
                <img src="#" alt="food Image" class="absolute inset-0 w-full h-full object-cover" loading="lazy" />
            </div>

            <form class="flex-auto p-6">
                <div>
                    <!-- Food name -->
                    <h1 class="text-lg font-semibold text-slate-900">
                        <%=post.foodName%>
                    </h1>

                    <div class="space-x-2 flex text-m">
                        <%=post.description%>
                    </div>

                    <!-- Author -->
                    <div class="text-sm font-semi-bold text-slate-600 my-5">
                        By: <%=post.author%>
                    </div>
                </div>

                <!-- Date published -->
                <div class="flex items-baseline mt-4 mb-6 pb-6 border-b border-slate-200">

                    <div class="w-full flex-none text-sm font-medium text-slate-700 mt-2">
                        <%=post.date %>
                    </div>
                </div>

                <!-- <div class="flex space-x-4 mb-6 text-sm font-medium">
                    <div class="flex-auto flex space-x-4">
                        <button class="h-10 px-6 font-semibold rounded-md bg-black text-white" type="submit">
                            Read more
                        </button>
                        <button class="h-10 px-6 font-semibold rounded-md border border-slate-200 text-slate-900"
                            type="button">
                            Share
                        </button>
                    </div> -->

                <!-- Like button work in progress-->
                <!-- <button
                                    class="flex-none flex items-center justify-center w-9 h-9 rounded-md text-slate-300 border border-slate-200"
                                    type="button" aria-label="Like" onclick="toggleFill()">
                                    <svg id="heartIcon" width="20" height="20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" />
                                    </svg>
                                </button> -->

                <!-- </div> -->

                <button
                    class="bg-amber-400 hover:bg-gray-100 text-black font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                    <a class="edit" href="/edit/<%= post.id %>">Edit</a>
                </button>
                <button
                    class="bg-red-600 hover:bg-gray-100 text-black font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                    <a class="delete" href="/api/posts/delete/<%= post.id %>">Delete</a>
                </button>
            </form>

            <% }); %>

                <button class="h-10 px-6 font-semibold rounded-md bg-green-600 text-white"
                    onclick="window.location.href='/new';">
                    <a id="newPostBtn" href="/new">New Post</a>
                </button>

    </div>

    <!-- <script>
        function toggleFill() {
            var heartIcon = document.getElementById('heartIcon');
            if (heartIcon.getAttribute('fill') === 'red') {
                heartIcon.setAttribute('fill', 'currentColor');
            } else {
                heartIcon.setAttribute('fill', 'red');
            }
        }
    </script> -->
</body>

</html>